.carousel {
    /* width: 60%;
    height: 700px;
    background-color: black; */
    position: absolute;
    width: 700px;
    height: 20px;
    left: 316px;
    top: 765px;
    
    


    
    /* overflow:hidden; */
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 480px) {
    .carousel {
        /* width: 60%;
        height: 700px;
        background-color: black; */
        position: absolute;
        width: 60%;
        height: 30%;
        left: 23%;
        right: 30%;
        top: 795px;
        bottom: 1000px;
    
    
        
        /* overflow:hidden; */
        
        display: block;
        margin-left: auto;
        margin-right: auto;
      
    
    }
  
} 


.carouselInner {
     height: 500px;
    width: 100%;  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    background-color: black;
    /* word-wrap: break-word; */
}



@media only screen and (max-width: 480px) {
    
.carouselInner {
   height: 80%;
   width: 100%;  
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
 
  
   
}
} 
/* .titoo{
    color: #FFFFFF;
}

@media only screen and (max-width: 480px) {
    .titoo{
        color: #FFFFFF;
        font-size: xx-small;
        font-weight: 0px;
    }
} */

.carouselInner .left {
    /* flex: 5%; */
  
    margin-left: -80px;
    display: grid; 
    place-items: center;
    cursor: pointer;
    /* color: white;
    
    padding-bottom: 300px;
    margin-bottom: 300px;
    padding-top: 210px; */
}


@media only screen and (max-width: 480px){
     .left {
        flex: 5%;
      
        margin-left: -90px;
        /* background-color: rgb(0, 0, 0, 0.6); */
        display: grid;
        place-items: center;
        color: white;
        cursor: pointer;
        padding-bottom: 10px;
        margin-bottom: 50px;
        padding-top: 25%;
       
    }
    
}

.carouselInner .center {
  
    height: 50px;
    width: 100%; 
    /* display: grid; */
    /* place-items: center; */
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: justify; */
    /* text-align-last:center;
    justify-content: left; */
    /* margin-right: 100px; */
    margin-left: 50px;
    /* margin-right: 50px; */
    margin-top: 300px;
   
    /* padding-right: 20px; */
    
    /* white-space:nowrap;
    word-wrap: break-word */
    
    
}

@media only screen and (max-width: 480px){
    .carouselInner .center {
  
        height: 40%;
        width: 95%; 
        /* display: grid; */
        place-items: center;
        font-family: Arial, Helvetica, sans-serif;
        /* text-align: justify; */
        text-align-last:center;
        justify-content: left;
        margin-right: 70%;
        margin-left: 25px;
        margin-top: 100px;
        
        font-size: xx-small;
        /* padding-right: 20px; */
        
        
        overflow-x: hidden;
     
        
    }


}

.center h1{
    color: rgba(255, 255, 255, 0.44);
    font-size: 20px;

}
@media only screen and (max-width: 480px){
    .center h1{
        color: rgba(255, 255, 255, 0.44);
        font-size:xx-small;
    
    }

}
.center p{
    color: #FFFFFF8C;

}

@media only screen and (max-width: 480px){
    .center p{
        color: #FFFFFF8C;
        font-size:xx-small
    
    }
}


/* h1 {
    font-size: 5rem;
}

p {
    font-size: 2rem;
} 

 .center h1, p{
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 9px;
} */


/* .center, h1, p{
    background-color: rgb(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 9px;
}  */
.carouselInner .right {
     
    
    /*
    margin-top: 0px;

    place-items: center;
    color: white;
    cursor: pointer;
    
    padding-top: 210px; */
    /* margin-left: 150px; */

    /* flex: 5%; */
   margin-right: -110px;
    display: grid;
    place-items: center;
    /* 
    color: white; */
    cursor: pointer;
    /* padding-bottom: 300px;
    margin-bottom: 300px;
    padding-top: 210px; */
}

@media only screen and (max-width: 480px){
    .carouselInner .right {
     
    
        /*
        margin-top: 0px;
    
        place-items: center;
        color: white;
        cursor: pointer;
        
        padding-top: 210px; */
        /* margin-left: 150px; */
    
        /* flex: 5%; */
        margin-right: -70px;
        display: grid;
        place-items: center;
        /* 
        color: white; */
        cursor: pointer;
        /* padding-bottom: 300px;
        margin-bottom: 300px;
        padding-top: 210px; */
    }
    
}


.Carodot{
    width:10px;
    height:10px;
    border-radius: 50%;   
    background: #C4C4C4;
    margin-right: 3px;
    

}

.CaroCon{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    height: 00px;
    background-color: white;
}

.Active{
    width:10px;
    height:10px;
    border-radius: 50%;   
    background-color: black;
    margin-right: 3px;
}

.titoo{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0.035em;
    text-align: left;

}

@media only screen and (max-width: 480px){

    
    .titoo{
        color: #FFFFFF;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        line-height: 25px;
        letter-spacing: 0.035em;
        text-align: left;
    
    }

    
    
}


@media screen and (max-width: 900px) and (min-width: 600px){



    .Carodot{
        width:10px;
        height:10px;
        border-radius: 50%;   
        background: #C4C4C4;
        margin-right: 3px;
        
    
    }
    
    .CaroCon{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5px;
        height: 00px;
        margin-bottom: -200px;
        margin-right: -100px;
        background-color: white;
    }
    
    .Active{
        width:10px;
        height:10px;
        border-radius: 50%;   
        background-color: black;
        margin-right: 3px;
    }
    .carouselInner {
        
        width: 60%;
        margin-left: -100px;
        
        background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       display: flex;
       justify-content: space-between;
       background-color: black;
       /* word-wrap: break-word; */
   }

   .carouselInner .center {
    position: absolute;
    height: 1000%;
    width: 40%; 
    
    /* display: grid; */
    place-items: center;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: justify; */
    text-align-last:center;
    justify-content: left;
    margin-right: 70%;
    margin-left: 0px;
    margin-top: 300px;
    
    font-size: xx-small;
    /* padding-right: 20px; */
    
 
    overflow-x: hidden;
 
    
}

.titoo{
    
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    line-height: 25px;
   
    margin-top: 10px;
    text-align: center;
 
    padding-left: 0px;
    text-align: left;

    color: white; 

}
.center p{
    color: #FFFFFF8C;
    font-size:xx-small

}

}