.homeg{
    width:90%;
    height: 178px;
    padding-top: 1564px;
    display: flex;
    background-color: #1B3854;
    justify-content : space-around;
    padding:20px 8%
    
}

@media only screen and (max-width: 480px){
    .homeg{
        width:90%;
        height: 178px;
        padding-top: 1564px;
        margin-top: 770px;
        display: flex;
        background-color: #1B3854;
        justify-content : space-around;
        padding:20px 8%
        
    }
    .socio{
        display: flex;
        flex-wrap: wrap;
    }

    .allup p{
        color: #FFFFFFA6;
    }

    .socio img{
        margin: 5px;
    }

    .contact {
        color:#FFFFFFA6;
        margin-top: 10px;
    }
    
    .contact p{
        color:#FFFFFFA6;
        
    }

    .allup {
        margin-top: 10px;
    }
    
    .allup p{
        color: #FFFFFFA6;
    }
}


.socio{
    display: flex;
    flex-wrap: wrap;
   
}

.socio img{
    margin: 10px;
}


.allup {
    margin-top: 20px;
}

.allup p{
    color: #FFFFFFA6;
}

.sociom p{
    color:#FFFFFFA6;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 8px;
    
    
}


.contact {
    color:#FFFFFFA6;
    margin-top: 20px;
}

.contact p{
    color:#FFFFFFA6;
    
}

.homeg div{
    flex:1;
}

/* height: 278px;
width: 1439px;
left: 0px;
top: 1564px;
border-radius: 0px; */
