.myh {
    overflow: hidden;
    width: 100%;
}

.mytitle h1{
    text-align:center;
    position: absolute;
    width: 917px;
    height: 109px;
    left: 221px;
    top: 240px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 68.5952px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.035em;
    overflow: hidden;

color: #009BC0;
}
@media only screen and (max-width: 480px) {
    .mytitle h1{
        text-align:left;
        position: absolute;
        justify-content: left;
        /* white-space:pre-wrap; */
        width: 60%;
        height: 30%;
        left: 30%;
        top: 170px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20.5952px;
        line-height: 30px;
      
        letter-spacing: 0.035em;
        overflow: hidden;
    
    color: #009BC0;
    }
} 

@media screen and (max-width: 900px) and (min-width: 600px){

    .myh {
        overflow: hidden;
        width: 60px;}
        
    .mytitle h1{
        text-align:left;
        position: absolute;
        justify-content: left;
        /* white-space:pre-wrap; */
        width: 60%;
        height: 30%;
        left: 25%;
        top: 250px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 35.5952px;
        line-height: 30px;
      
        letter-spacing: 0.035em;
        overflow-x: hidden;
    
    color: #009BC0;
    }

    .mytitle p{
       
      
        max-width: 550px;
       
     
        top: 376px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        margin-left: -100px;
      
        text-align: left;
      
        color: rgba(27, 56, 84, 0.8);
       
    }
    .myh {
        overflow-x: hidden;
        width: 70%;
    }

    
.myh h2{
    
    position: absolute;
    width: 159px;
    
    left: 490px;
    top: 633px;
    margin-left: -200px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size:60px;
    line-height:76.5%;
/* or 94px */

    letter-spacing: -0.01em;

    color: #000000;
    overflow: hidden;
}

}

.mytitle p{
    overflow: hidden;
    position: absolute;
    width: 820px;
    height: 122px;
    left: 265px;
    top: 376px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.035em;

    color: rgba(27, 56, 84, 0.8);
    overflow: hidden;
}

@media only screen and (max-width: 480px){
    

    .mytitle p{
        overflow: hidden;
        position: absolute;
        width: 70%;
        height: 50%;
        left: 30%;
        top: 276px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align:left;
        letter-spacing: 0.035em;
    
        color: rgba(27, 56, 84, 0.8);
        overflow: hidden;
    }
    
    
}

.myh h2{
    overflow: hidden;
    position: absolute;
    width: 359px;
    height: 97.83px;
    left: 490px;
    top: 633px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size:60px;
    line-height: 146.5%;
/* or 94px */

    letter-spacing: -0.01em;

    color: #000000;
    overflow: hidden;
}


@media only screen and (max-width: 480px) {
    .myh h2{
      
        width: 359px;
        height: 97.83px;
        left: 90px;
        top: 583px;
        margin-top: 100px;
        margin-bottom: 100px;
    
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size:40px;
        line-height: 146.5%;
    /* or 94px */
    
        letter-spacing: -0.01em;
    
        color: #000000;
        overflow: hidden;
    }

    .carocaro{
        margin-top: 300px;
    }
}

.imgg{
    /* position: absolute;
    width: 306px;
    height: 492px;
    left: 316px;
    top: 765px;
    
    display: block;
    margin-left: auto;
    margin-right: auto; */
}

/* .right{
    overflow: hidden;
    position: absolute;
  
    height: 80.63506317138672px;
    width: 40.31753158569336px;
   
    border-radius: 0px;
    padding-left: 1250.48px;
    padding-bottom: 800.05px;
    padding-top: 900px;
    padding-right: 50px;
                            

}
.left{
    overflow: hidden;
    position: absolute;
    height: 80.63506317138672px;
    width: 40.31753158569336px;
    padding-bottom: 800.05px;
    padding-top: 900px;
    padding-left: 50px;
    padding-right: 1238.21px;
} */

.mydot{

    width: 0px;
    overflow: hidden;
    padding-top: 1344px;
    padding-left: 129px;
    padding-right: 130px;
    padding-bottom:100px;
}

@media only screen and (max-width: 480px) {
    .mydot{

        width: 0px;
        overflow: hidden;
        padding-top: 800px;
        padding-left: 129px;
        padding-right: 130px;
        padding-bottom:100px;
        overflow-x: hidden;
    }
} 


