/* .navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 476.391;
    height: 95px;
    margin-left: 158.797;
    margin-right: 158.797;
} */

.Dloggo{
    padding-top: 10px;
    text-align: left;
    padding-left: 0px;
}
@media only screen and (max-width: 480px){
    .Dloggo{
        padding-top: 10px;
        text-align: left;
        padding-left: 0px;
    }
}


@media only screen and (max-width: 900px) and (min-width: 600px) {
    .Dloggo{
        padding-top: 10px;
        text-align: left;
        padding-left: 20px;
    }

    .header{
        display: flex;
        justify-content: space-between;
        width: 60%;
        align-items: left;
        margin: 10px auto;
    }

    .mynavb {
        text-align: left;
        margin-left: 0px;
        margin-right: 0px;
     
        list-style: none;
        padding-left: 10px;
        width: 40%; 
        height: 50%; 

        font-size: 20px;
        color: white;
        margin-left: -300px;
            
        } 

        .mynavb li {
            padding: 7px;
            color: white;
        }
}
.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: left;
    margin: 10px auto;
}

@media only screen and (max-width: 480px) {
    .header{
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
        margin: 10px auto;
    }
} 


.mynavb {
    display: flex;
    list-style: none;
    padding-left: 630px;
    
}
  
@media only screen and (max-width: 480px){
    .mynavb {
    display: flex;
    list-style: none;
    padding-left: 10px;
        
    } 
}


/* 
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */

.mynavb li {
    padding: 7px;
}
/* 
li {
    display: list-item;
    text-align: -webkit-match-parent;
} */
.mynavb li a{text-decoration: none;
            color:#000010;

    
}
.mynavb li:hover {
    border-bottom: 2px solid #009bc0;
  }


/* 
.logo {
    width: 100;
    height: 91;
    fill: none; */
/* 

.link {display: flex;
    list-style: none;
} */


.link a {
    text-decoration: none;
}

.link a.active {
    border-bottom: 1px solid green;
}